.m-about {
  padding-top: 120px;
  padding-bottom: 90px;

  @include media-down(l) {
    padding-top: 60px;
  }

  @include media-down(s) {
    padding-top: 0;
  }

  h2 {
    margin-top: 15px;
    color: $black-1;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 47px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 520px;
    background-color: $black-1;

    @include media-down(l) {
      height: 450px;
    }

    @include media-down(s) {
      height: 400px;
    }

    @include media-down(xs) {
      height: 300px;
    }

    img {
      position: absolute;
      margin-top: auto;
      max-width: 552px;

      @include media-down(s) {
        max-width: 90vw;
      }
    }

    p {
      margin-top: auto;
      margin-bottom: 30px;
      color: rgba($white, .5);
      text-align: center;
      font-size: 14px;
      font-style: italic;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-down(l) {
      margin-top: 30px;
    }

    .a-span {
      margin-top: 20px;
    }

    &--firstP {
      margin-top: 40px;
      color: $black-1;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 30px;

      @include media-down(m) {
        font-size: 18px;
      }
    }

    &--secondP {
      color: $gray-4;
      font-size: 16px;

      @include media-down(m) {
        font-size: 14px;
      }
    }
  }
}