.-openModal {
  overflow: hidden;
}

.m-configurator {
  padding-top: 80px;
  padding-bottom: 80px;
  color: $gray-1;

  h4 {
    text-align: center;
    color: $black-1;
  }

  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 57px;

    @include media-down(xs) {
      flex-direction: column;
    }

    li {
      @include media-down(m) {
        margin-top: 10px;
      }
    }

    li:not(:last-child) {
      margin-right: 10px;
    }

    a {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      color: $gray-1;
      font-size: 16px;
      transition: color .3s ease-in;

      &:hover {
        border-bottom: 2px solid $red;
        color: $black-1;
      }
    }

    .-active {
      border-bottom: 2px solid $red;
      color: $black-1;
    }
  }

  &__content {
    display: none;
    margin-top: 40px;

    &.-active {
      display: flex;
    }

    &--box {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border: 1px solid #f3f3f5;
      border-radius: 3px;
      box-shadow: 0 15px 25px -20px rgba(0, 0, 0, .1);
      text-align: center;
      font-size: 14px;
      transition: box-shadow .4s ease-in;

      &:hover {
        box-shadow: 0 20px 30px -20px rgba(0, 0, 0, .6);
      }

      .-new {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 7px 8px 6px;
        border-radius: 3px;
        background-color: #962afa;
        color: $white;
        font-family: $font-roboto-condensed;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 13px;
      }

      .-blue {
        margin-top: 5px;
        color: $blue;
        font-size: 12px;
        cursor: pointer;
        transition: font-weight .3s ease-in-out;

        &:hover {
          font-weight: bold;
        }
      }

      .-heading {
        margin-top: 5px;
        color: $black-1;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
      }

      .-checked {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        text-align: left;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 30px;

        span::before {
          content: '';
          display: inline-block;
          height: 10.5px;
          width: 5.5px;
          margin-right: 9px;
          border-bottom: 1.5px solid $green;
          border-right: 1.5px solid $green;
          transform: rotate(45deg);

        }
      }

      .-pricePart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        //margin-top: 20px;
      }

      .-priceTag {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .-starting {
        font-family: $font-roboto-condensed;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 13px;
      }

      .-price {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        color: $black-1;
        text-align: left;
        margin-top: 10px;

        &:after {
          content: ' €';
        }
      }

      button {
        border-style: none;
        border-radius: 17px;
        padding: 9px 17px 9px 18px;
        background-color: rgba($red, .1);
        color: $red;
        font-family: $font-roboto-condensed;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 16px;
        cursor: pointer;
        transition: background-color .3s ease-in;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: rgba($red, 1);
          color: $white;
        }
      }

      .-image {
        height: 110px;
      }

      img {
        align-self: center;
        max-width: 192px;
        padding-bottom: 14px;

      }

      .-openModal & {
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }

      &.-show {
        position: fixed;
        top: 50%;
        left: 15%;
        transform: translate(-15%, -50%);
        border-style: none;
        z-index: 50;
        opacity: 1;
        border-radius: 15px 0 0 15px;
        box-shadow: none;
        padding: 10px 55px;
        height: 384px;
        //background-color: #f1f1f5;
        justify-content: center;

        @include media-up(xl) {
          left: 28%;
          transform: translate(-28%, -50%);
        }

        @include media-down(l) {
          display: flex;
          height: 300px;
          left: 50%;
          top: 10%;
          transform: translate(-50%, -10%);
        }

        .-blue {
          display: none;
        }

        .-checked {
          display: none;
        }

        .-price {
          margin-top: 20px;
          padding: 13px 60px;
          border-radius: 15px;
          border-style: none;
          background-color: rgba($red, .8);
          transition: background-color .3s ease-in-out;
          color: $white;

          &:hover {
            background-color: $red;
          }
        }

        .-priceTag {

          span:first-child {
            visibility: hidden;
            display: flex;
            width: 100%;
            margin-top: 10px;
            opacity: .5;
            font-family: $font-roboto-condensed;
            font-size: 13px;
            letter-spacing: 0;
            line-height: 13px;

            &::after {
              color: $black-1;
              content: 'Total price:';
              visibility: visible;

              @include media-down(l) {
                display: none;
              }
            }
          }

          span:nth-child(2) {
            color: $white;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 30px;

            &::after {
              content: ' €';
            }
          }
        }

        button {
          display: none;
        }
      }
    }
  }
}