.m-featured {
  padding-top: 100px;
  padding-bottom: 106px;
  background-size: cover;
  background-position: center;

  h3 {
    margin-top: 5px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 47px;
  }

  p {
    margin-top: 20px;
    color: $gray-2;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
  }

  &__buttons {
    margin-top: 25px;

    @include media-down(m) {
      flex-direction: column;
    }

    &--details {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 25.5px;
      padding-bottom: 25.5px;
      border: 1px solid rgba($white, .25);
      background-color: rgba($white, .15);
      color: $white;
      transition: background-color .6s ease-in-out;

      @include media-down(l) {
        margin-top: 15px;
        background-color: rgba($white, .3);
      }

      &:hover {
        background-color: rgba($white, .4);
      }

      span:first-child {
        font-family: $font-roboto-condensed;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 14px;
      }

      span:nth-child(2) {
        margin-top: 20px;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 34px;
      }

      span:nth-child(3) {
        margin-top: 10px;
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0;
        line-height: 18px;
      }
    }
  }
}