.m-footer {
  position: relative;
  padding-top: 110px;
  padding-bottom: 42px;
  background: linear-gradient(135deg, #282a2f 0%, #000 100%);
  background-size: cover;

  h5 {
    position: absolute;
    z-index: 3;
    margin-top: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 58px;

    @include media-down(l) {
      position: relative;
    }
  }

  img {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: -13%;
    order: 1;

    @include media-down(xl) {
      width: 80%;
    }

    @include media-down(l) {
      position: relative;
      margin-top: 30px;
    }
  }

  form {
    z-index: 1;
    padding: 60px 48px;
    background-color: #011f05;

    @include media-down(l) {
      margin-top: 30px;
    }

    > div {
      position: relative;
      width: 100%;

      input[type=text],
      input[type=email] {
        height: 60px;
        margin-bottom: 30px;
        padding-left: 15px;
      }

      input[type=text],
      input[type=email],
      textarea {
        width: 100%;
        border: 1px solid rgba($white, .25);
        border-radius: 3px;
        color: $white;
        background-color: rgba($white, .15);

        &:focus {
          outline: none;
        }
      }

      textarea {
        padding-top: 15px;
        padding-left: 15px;
        resize: none;
      }


      input[type=submit] {
        width: 125px;
        height: 55px;
        margin-top: 30px;
        margin-left: 98px;
        border: 2px solid rgba($white, .3);
        border-radius: 3px;
        background-color: transparent;
        color: $white;
        font-family: $font-roboto-condensed;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color .3s ease-in;

        &:hover {
          background-color: rgba($white, .4);
        }
      }

      label {
        position: absolute;
        top: 30px;
        transform: translateY(-50%);
        transition: top .2s;
        padding-left: 15px;
        color: $gray-5;
        font-family: $font-roboto-condensed;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 26px;
        pointer-events: none;
      }
    }

    .has-value {
      label {
        top: -12px;
      }
    }
  }


  &__links {
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 40px;
    margin-top: 55px;

    @include media-down(m) {
      flex-direction: column;
      align-items: center;
      margin: 10px 0 0;
    }

    &,
    a {
      color: rgba($white, .5);
      font-family: $font-roboto-condensed;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 16px;
      transition: color .3s ease-in;
    }

    a:hover {
      color: rgba($white, .8);
    }

    a:first-of-type {
      margin-right: 15px;
    }
  }
}