.m-header {
  position: relative;
  background-color: $black;
}

.m-nav {
  position: fixed;
  z-index: 15;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
  background-color: $black;
  transition: padding .3s;

  &.-scroll {
    padding: 20px 40px;
  }

  &__logo {
    width: 96px;
    height: 33px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 520px;

    @include media-down(l) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100vh;
      width: 70vw;
      padding-top: 100px;
      padding-right: 40px;
      background-color: $black;
      transform: translate3d(150%, 0, 0);
      transition: .2s ease-in-out;

      .-open & {
        transform: translate3d(0, 0, 0);
      }
    }

    &--items {
      padding: 18px 15px;
      color: $white;
      opacity: .5;
      letter-spacing: 1px;
      line-height: 16px;

      @include media-down(l) {
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 25px;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .3s ease-in-out;

        @include media-down(l) {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 1px solid $red;
          opacity: 1;
        }
      }

      @include media-down(l) {
        padding: 0;
        margin-top: 20px;
      }
    }

    &--dropdown {
      position: relative;
      display: inline-block;

      @include media-down(l) {
        margin-top: 20px;
      }
    }

    &--content {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      //display: none;
      margin-top: 15px;
      padding: 0 20px 0 15px;
      opacity: 0;
      transition: .4s ease-in-out;

      &.-scroll {
        background-color: rgba($black, .8);
      }

      @include media-up(l) {
        min-width: 140px;
        border: 1px solid rgba($white, .25);
        border-top: 1px solid $red;
        background-color: rgba($white, .15);

      }

      @include media-down(l) {
        display: none;
      }

      a {
        padding-top: 15px;
        padding-bottom: 15px;
        color: $white;
        font-size: 13px;
        transition: color .3s ease-in-out;

        @include media-down(l) {
          padding: 0;
        }

        &:hover {
          color: $red;
        }
      }

      a:not(:last-child) {
        @include media-up(l) {
          border-bottom: 1px solid $gray-3;
        }
      }
    }

    &--dropdown:hover .m-nav__menu--content {
      opacity: 1;

      @include media-down(l) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        opacity: .5;
      }
    }
  }

  &__button {
    .-scroll & {
      top: 30px;
    }

    @include media-up(l) {
      display: none;
    }

    @include media-down(l) {
      position: absolute;
      z-index: 20;
      top: 45px;
      right: 40px;
      background-color: transparent;
      border: 0;
      outline: 0;
      padding: 0;
      margin-left: auto;
      cursor: pointer;
      transform: scale3d(1, 1, 1);
      transition: .2s;
    }

    span {
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      border-radius: 60px;
      background-color: $white;
    }

    &.m-nav__button {
      width: 26px;
      height: 20px;

      &:focus {
        outline: none;
      }

      span {
        right: 0;
        transition: .22s ease-in;

        &:first-child {
          top: 0;
        }

        &:nth-child(2) {
          width: 20px;
          top: 8px;
        }

        &:last-child {
          top: 17px;
        }
      }

      .-open & {

        .m-nav__menu {
          transform: scale3d(1, 1, 1);
        }

        span {
          z-index: 15;
          background-color: $white;

          &:first-child {
            top: 50%;
            transform: rotateZ(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
            right: -30px;
            transition: .3s ease-in-out;
          }

          &:last-child {
            top: 50%;
            transform: rotateZ(-45deg);
          }
        }
      }
    }
  }
}