.m-hero {

  &__text {
    padding-top: 235px;
    padding-bottom: 155px;

    h1 {
      margin-top: 10px;

      @include media-down(m) {
        max-width: 410px;
      }
    }

    &--paragraph {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 42px;
      margin-left: 19px;

      &::before {
        content: '';
        height: 60px;
        width: 1px;
        border: 1px solid $red;
      }


      p {
        max-width: 310px;
        margin-left: 29.5px;
        margin-bottom: 0;
        color: $gray-2;
        font-family: $font-montserrat;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 26px;
      }
    }
  }

  .mySwiper {

    .swiper-slide {
      background-size: cover;
      background-position: center;

      &::before {
        @include media-down(l) {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba($black, .6);
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      border: 1px solid rgba($white, .25);
      border-radius: 3px 0 0 3px;
      color: $white;
      background-color: rgba($white, .15);

      @include media-down(s) {
        width: 30px;
      }

      &.swiper-button-disabled {
        opacity: .5;
      }
    }
  }
}