.m-modal {
  z-index: 15;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  width: 950px;
  border-radius: 15px;
  transition: .6s ease-in-out;
  background-color: $white;

  @include media-down(l) {
    max-width: max-content;
  }

  #js-firstConfigurator {
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }


  .m-configurator__content--box {
    transition: opacity .3s;

    .-openModal & {
      opacity: 0;
    }


  }

  .-priceTag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 60px;
    border-radius: 15px;
    border-style: none;
    background-color: #212121;
    color: $white;

    span:first-child {
      opacity: .5;
      font-family: $font-roboto-condensed;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 13px;
    }

    span:nth-child(2) {
      color: $white;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 30px;

      &::after {
        content: ' €';
      }
    }
  }

  .-checked,
  .-blue {
    display: none;
  }

  label {
    padding-left: 5px;
    transition: color .2s ease-in;
  }

  label:hover {
    color: $green;
  }


  input[type=checkbox]:checked {
    accent-color: $black-1;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__left {
    height: 100%;
    width: 360px;
    border-radius: 15px 0 0 15px;
    background-color: #f1f1f5;
  }

  &__right {
    padding-bottom: 34px;

    @include media-down(l) {
      height: 610px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    span:first-child {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 22px;
    }

    span:nth-child(2) {
      margin-top: 6px;
      opacity: .7;
      color: $black-1;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 18px;

      &::after {
        content: ' €';
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 34px;
    margin-left: 30px;
    padding-right: 30px;

    @include media-down(l) {
      margin-top: 20px;
    }


    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 20px;
    }

    div:not(:first-child) {
      margin-top: 14.5px;
      padding-top: 14.5px;
      border-top: 1px solid #f1f1f1;
    }
  }

  .-openModal & {
    position: fixed;
    display: flex;
    flex-direction: row;

    .m-configurator__content--box {
      opacity: 1;

      .-openModal {
        display: flex;
      }

      &.-show {
        opacity: 1;

      }
    }

    #js-firstConfigurator {
      opacity: 1;
      display: flex;
      justify-content: center;

      @include media-down(s) {
        width: 90vw;
      }
    }
  }

  &__span {
    position: absolute;
    top: -21px;
    right: -21px;
    height: 42px;
    width: 42px;
    padding-left: 10px;
    border-radius: 21px;
    outline: 0;
    background-color: $black-1;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
      background-color: $red;
      transform: rotate(90deg);
    }


    span {
      .-openModal & {
        position: absolute;
        display: block;
        height: 2px;
        width: 50%;
        background-color: $white;


        &:first-child {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}