.m-overlay {
  @include media-down(l) {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba($black, .6);
    pointer-events: none;
    transition: opacity .3s;

    .-open & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.m-modal__overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba($black-1, .8);
  pointer-events: none;
  transition: opacity .3s;

  .-openModal & {
    opacity: 1;
    pointer-events: auto;
  }
}