*::selection {
  background-color: rgba($green, .3);
  color: white;
}
.proba {
  padding-bottom: 50px;
}

.box {
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: 3px;
  box-shadow: 0 15px 25px -20px transparent;
  font-size: 14px;
  transition: opacity .3s ease-in, box-shadow .4s ease-in;

  &:hover {
    box-shadow: 0 20px 30px -20px rgba(0, 0, 0, .6);
  }

  a {
    cursor: pointer;
  }
}

.-red {
  border-style: none;
  border-radius: 17px;
  padding: 9px 17px 9px 18px;
  background-color: rgba($red, .1);
  color: $red;
  font-family: $font-roboto-condensed;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  transition: background-color .3s ease-in;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($red, 1);
    color: $white;
  }
}

.-new {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 7px 8px 6px;
  border-radius: 3px;
  background-color: #962afa;
  color: $white;
  font-family: $font-roboto-condensed;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 13px;
}

.div-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.links {
  background: none;
  padding-bottom: 5px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color .3s ease-in;


  &:focus {
    outline: none;
    border-bottom: 2px solid $blue;
  }
}