.a-button {
  cursor: pointer;

  &.-contact {
    max-width: max-content;
    padding: 14px 36px;
    border-radius: 3px;
    opacity: 1;
    background-color: rgba($white, .2);
    color: $white;
    transition: .3s ease-in-out;

    @include media-down(l) {
      margin-top: 15px;
    }

    &:hover {
      background-color: $red;
    }
  }
}