$white:     #fff !default;
$black:     #000 !default;

$black-1:   #212121;
$gray-1:    #929aad;
$gray-2:    #ccc5c5;
$gray-3:    #5c5c5c;
$gray-4:    #4e4e4e;
$gray-5:    #9b9c9d;
$red:       #fa2a2a;
$purple:    #962afa;
$green:     #59ceb2;
$blue:      #2a6efa;


// Set a specific jump point for requesting color jumps
$color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$contrast-threshold: 150 !default;