// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;
$font-open-sans: 		      'Open Sans', $font-family-sans-serif;
$font-roboto-condensed:       'Roboto Condensed';
$font-montserrat:             'Montserrat';
// stylelint-enable value-keyword-case

$link-color:                  $blue;

$font-size-base:              16px;
$font-weight-base:            normal;

$font-size-small:             80% !default;

$color-text-base:             $black;

$line-height-base:            1.6 !default;

$h1-font-size-mobile:         27px !default;
$h2-font-size-mobile:         24px !default;
$h3-font-size-mobile:         24px !default;
$h4-font-size-mobile:         24px !default;
$h5-font-size-mobile:         24px !default;
$h6-font-size-mobile:         16px !default;

$h1-font-size-tablet:         40px !default;
$h2-font-size-tablet:         30px !default;
$h3-font-size-tablet:         30px !default;
$h4-font-size-tablet:         30px !default;
$h5-font-size-tablet:         40px !default;
$h6-font-size-tablet:         16px !default;

$h1-font-size-desktop:        48px !default;
$h2-font-size-desktop:        38px !default;
$h3-font-size-desktop:        38px !default;
$h4-font-size-desktop:        38px !default;
$h5-font-size-desktop:        48px !default;
$h6-font-size-desktop:        38px !default;

$headings-margin-bottom:      0 !default;
$headings-margin-top:         0 !default;
$headings-font-family:        inherit !default;
$headings-line-height:        1.2 !default;
$headings-color:              $white !default;

// Printing
$print-page-size:             a3 !default;
$print-body-min-width:        map-get($grid-breakpoints, 'lg') !default;

// Paragraphs
//$paragraph-margin-bottom:     12px !default;
